.GridLineStyle Line {
  -fx-stroke   : green;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
   -fx-background-color:transparent;
}

.increment-button, .decrement-button {
   -fx-background-color: transparent;
   -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
   -fx-background-color: transparent;
   -fx-border-color: transparent;
   -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
   -fx-background-color:rgba(60, 91, 152, 0.616);
   -fx-background-radius: 5em;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

 .scroll-pane {
    -fx-background-color: transparent;
 }


 .minus-button {
   -fx-background-image: url("../images/minimize.png");
}

.close-button {
   -fx-background-image: url("../images/close.png");
}

.maxim-button {
   -fx-background-image: url("../images/maximize.png");
}

.softinfo-button {
   -fx-background-image: url("../images/information.png");
}


.minus-button, 
.close-button, 
.maxim-button,
.softinfo-button {
   -fx-background-repeat: no-repeat;
   -fx-background-size: 75%;
   -fx-background-position: center center;
   -fx-background-color:transparent;
}


.close-button:hover{
   -fx-background-color: rgba(168, 3, 3, 0.637);
}


.minus-button:hover,
.maxim-button:hover,
.softinfo-button:hover {
   -fx-background-color: rgba(255, 255, 247, .3);
}


/*
TABLE-VIEW
*/

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .show-hide-columns-button{
    -fx-background-color: transparent;
}

.table-view .label{
    -fx-background-color: transparent;
    -fx-text-fill: #828282;
    -fx-alignment: CENTER;

}


.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #828282;
}

.table-column {
  -fx-alignment: CENTER;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(241, 241, 241, 0.616);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(255, 255, 255, 0.979);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell .text {
       -fx-fill: #828282;
}

.table-row-cell:selected .text {
       -fx-fill: white;
}