
 .dialog-pane{
  -fx-border-color:#282C34;
  -fx-border-width:2.0px;
 }

.dialog-pane > .button-bar > .container {
  -fx-background-color:#282C34;
}

.dialog-pane > .content.label {
   -fx-padding: 0.5em 0.5em 0.5em 0.5em;
   -fx-background-color: #282C34;
   -fx-text-fill:white;
   -fx-font-size:15.0px;
}


.dialog-pane:header .header-panel {
  -fx-background-color: #282C34;
}

.dialog-pane:header .header-panel .label{
  -fx-background-color: #282C34;
  -fx-background-radius:10px;
  -fx-text-fill:white;
  -fx-font-size:15.0px;
}


.dialog-pane .button{
   -fx-background-color:#282C34;
   -fx-text-fill:white;
   -fx-wrap-text: true;
   -fx-cursor:hand;
 }

.dialog-pane .button:hover{     
  -fx-background-color:white;
  -fx-text-fill:#282C34;
  -fx-font-weight:bold; 
 }
